@charset "UTF-8";


@import url("header.css");
@import url("footer.css");
@import 'font.css';




.login-div {
	display: flex;
	justify-content: center;
	margin-top:170px;
}

.login_form_ment{
	
	font-family: 'ELAND_Choice_M';
}


.login_form {
	width: 700px;
	height: 500px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_form_title {
	font-size: 37px;
	font-weight: 700;
	text-align: center;
	text-indent: 6px;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #263238;
	margin-top: 60px;
	margin-bottom: 30px;
}

.login_form_ment{
	
	
		margin-bottom: 30px;
	
}


.login_err_msg {
	width: 400px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	margin-bottom: 15px;
	color: red;
	opacity: 0;
	animation: fadein_out 4s cubic-bezier(0.37, 0.82, 0.2, 1);
}

@keyframes fadein_out { 
	
	0%{
	opacity: 0;
	}

	50%{
	opacity : 1;
   
		}
	100%{
	opacity :0;
		}
}
.login_input {
	font-size: 14px;
	display: block;
	width: 260px;
	height: 25px;
	padding: 4px 3px;
	color: #999999;
	border: 1px solid #d9d9d9;
	background: transparent;
	border-radius: 2px;
	animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1);
	transition: all 0.7s ease 0s;
	margin-bottom: 15px;
	border-radius: 10px;
}

.login_submit_btn {
	margin-top: 20px;
	font-size: 12px;
	line-height: 27px;
	display: block;
	width: 200px;
	height: 27px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #263238;
	border: 1px solid #263238;
	background: transparent;
	border-radius: 2px;
	transition: all 0.7s;
}

.login_submit_btn:hover {
	background-color: #263238;
	color: #ffffff;
}


.login_signIn_btn {
	margin-top: 10px;
	font-size: 12px;
	line-height: 27px;
	display: block;
	width: 200px;
	height: 27px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #263238;
	border: 1px solid #263238;
	background: transparent;
	border-radius: 2px;
}

.login_signIn_btn:hover {
	background-color: #263238;
	color: #ffffff;
	transition: all 0.7s;
}

.login_input:focus {
	background-color: #D5D5D5;
}



/*//////////////////////////////  */
/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

