@charset "UTF-8";
@import url("header.css");
@import url("footer.css");
@import 'font.css';


.productView-div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
		font-family: 'ELAND_Choice_M';
	
	
}


.productView-form{
	
	margin-top:100px;
	width: 700px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding-bottom:50px;
}

.product_img{
	border-radius:15px;
	width:410px;
	height:410px;
	display: block;
	margin-top:15px;
}

.title{
	
	width:60%;
	font-weight: bold;
	font-size:45px;
	text-align: center;	
}

.desc{
	margin-top:15px;
	width:70%;
}


.price{
	margin-top:18px;
	font-size:32px;
	
	
}
.btn-outline-info{
	margin-top:10px;
	
}


.menu_tip{
	
	
	
	
}
