@charset "UTF-8";
@import url("header.css");
@import url("footer.css");
@import 'font.css';


html,body{
	height:100%;
}

.saleView-div{
	
		display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
		font-family: 'ELAND_Choice_M';
		height:100%;
	
}

.saleView-form{
	
	
	margin-top:100px;
	height:700px;
	width: 700px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding-bottom:50px;
}

.kinds{
	margin-top:20px;
}

.title{
	width:250px;
		margin-top:20px;
	
}

.price{
	width:250px;
		margin-top:20px;
	
}
.desc{
		margin-top:20px;
	
}
.file{
			margin-top:20px;
	
}

.submitBtn{
		margin-top:20px;
	
}
.backBtn{
		margin-top:20px;
	
}
