<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.kkm.market.mapper.ProductMapper">
		
	<select id="getProductInfo"  resultType="com.kkm.market.vo.ProductVO">
		
		select * from m_market where market_idx=#{idx}
	
	
	
	</select>
	
	<select id="getSearchList" resultType="com.kkm.market.vo.ProductVO">
	
	
		select * from m_market where item_title LIKE '%' || #{word} || '%'

	
	</select>
	
	<insert id="setNewItem" parameterType="com.kkm.market.vo.ProductVO">
	
		insert into m_market values(M_MARKET_SEQ.nextval,#{user_idx} ,#{id},#{market_img},#{market_kinds},#{market_price},sysdate,#{item_desc},#{item_title})
	
	</insert>
	

</mapper>